@import "../../styles/settings.styles.scss";

.field {
  background-color: rgb(248, 223, 223);
  display: flex;
  justify-content: center;
  align-items: center;

  &.white {
    background-color: $field-light;
  }

  &.black {
    background-color: $field-dark;
  }

  &.select-white {
    background-color: $selected-light;
  }

  &.select-black {
    background-color: $selected-dark;
  }

  &.highlight-black {
    background-color: $selected-dark;
  }

  &.highlight-white {
    background-color: $selected-light;
  }

  &.field-border {
    border: 4px solid rgb(228, 228, 228);
    border-radius: 5px;
  }
}

.available {
  width: 45%;
  height: 45%;

  background-color: #000;
  opacity: 0.1;
  border-radius: 100%;
}

.available-figure {
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
}
