.left-sidebar {
  height: 70vh;
  position: absolute;
  left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.right-sidebar {
  height: 70vh;
  position: absolute;
  right: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
